<template>
  <div>
    <b-container>
      <b-row>
        <b-col>
          <b-form-input v-model="title" placeholder="Title"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-textarea
            id="textarea"
            v-model="content"
            placeholder="Enter something..."
            rows="3"
            max-rows="6"
          >
          </b-form-textarea>
        </b-col>
      </b-row>

      <b-row>
        <label for="start-date">วัน/เวลา เริ่มต้น</label>
        <b-col
          ><b-form-datepicker
            id="start-date"
            v-model="startDate"
            class="mb-2"
          ></b-form-datepicker
        ></b-col>
        <b-col
          ><b-form-timepicker
            id="start-time"
            v-model="startTime"
            locale="th"
          ></b-form-timepicker
        ></b-col>
      </b-row>
      <b-row>
        <label for="end-date">วัน/เวลา สิ้นสุด</label>
        <b-col
          ><b-form-datepicker
            id="end-date"
            v-model="endDate"
            class="mb-2"
          ></b-form-datepicker
        ></b-col>
        <b-col
          ><b-form-timepicker
            id="end-time"
            v-model="endTime"
            locale="th"
          ></b-form-timepicker
        ></b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-button @click="addEvent">Add</b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col
          ><vue-cal
            :locale="th"
            active-view="week"
            :disable-views="['years', 'year']"
            :events="events"
            @ready="ready($event)"
            @view-chang="viewChange($event)"
        /></b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import th from '../locale/th'
// import api from '../services/api'
import { getEvents } from '../services/event'
export default {
  data () {
    return {
      startDate: '',
      endDate: '',
      startTime: '',
      endTime: '',
      title: '',
      content: '',

      events: [
        {
          start: '2022-04-18 18:55',
          end: '2022-04-19 19:55',
          title: 'ทำงาน webapp',
          content: 'กัดฟันทำงาน',
          class: 'a'
        }
      ]
    }
  },
  methods: {
    addEvent () {
      const event = {
        start: new Date(this.startDate + ' ' + this.startTime),
        end: new Date(this.endDate + ' ' + this.endTime),
        title: this.title,
        content: this.content,
        class: 'a'
      }
      console.log(event)
      this.events.push(event)
    },
    async ready (e) {
      console.log('ready', e)
      const res = await getEvents(e.startDate, e.endDate)
      console.log(res)
      const newEvents = res.data.map(function (event) {
        return {
          start: new Date(event.startDate),
          end: new Date(event.endDate),
          title: event.content,
          class: event.class
        }
      })
      this.events = newEvents
      // this.events = res.data
    },
    async viewChang (e) {
      console.log('view-chang', e)
      const res = await getEvents(e.startDate, e.endDate)
      console.log(res)
      const newEvents = res.data.map(function (event) {
        return {
          start: new Date(event.startDate),
          end: new Date(event.endDate),
          title: event.content,
          class: event.class
        }
      })
      this.events = newEvents
    }
  },
  computed: {
    th () {
      return th
    }
  },
  components: {
    VueCal
  }
}
</script>

<style>
.vuecal__now-line {
  color: aqua;
}
.vuecal__event.a {
  background-color: darkorange;border: 1px solid darkorange;color: azure;
  }
.vuecal__event.b {background-color: rgba(253, 156, 66, 0.9);border: 1px solid rgb(233, 136, 46);color: #fff;}
.vuecal__event.c {background-color: rgba(255, 102, 102, 0.9);border: 1px solid rgb(235, 82, 82);color: #fff;}
</style>
